function Main.main 3
push constant 10
call Array.new 1
pop local 2
push constant 1
push constant 2
add
push local 2
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
call Main.mainStr 0
pop local 1
push constant 14
call String.new 1
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
call Generate.new 1
pop local 0
call Generate.func 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
call Generate.getString 1
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Generate.local 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Generate.newTest 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push local 1
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 3
push local 2
add
pop pointer 1
push that 0
call Output.printInt 1
pop temp 0
push constant 0
return
function Main.mainStr 0
push constant 9
call String.new 1
push constant 103
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 106
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 33
call String.appendChar 2
return
